body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  background-color: green;
  color: #fff;
}

.my-app {
  min-height: 200vh;
}

.first-child {
  background-color: rgb(252, 119, 119);
  min-height: 100vh;
}

.second-child {
  background-color: rgb(119, 251, 119);
  min-height: 100vh;
}
